
<div class="container">
  <h2 class="recipes_head">My Recipes</h2>

  <div class="recipes_wrapper">
    <% @recipes.each do |recipe| %>
      <div class="recipe animated pulse" style='background-image: url("<%= recipe.src %>")'>

        <div class="title"><%= link_to recipe.title, recipe.url, target: "_blank" %>
          <br>
          <br>
          <%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'link' %>
        </div>

      </div>
    <% end %>
  </div>

</div>
