<div class="panel_container">

  <div class="panel pOne">
    <div class="pg_content">
      <h2>Choose a meal:</h2>
      <button class="btn">Breakfast</button>
      <button class="btn">Lunch</button>
      <button class="btn">Dinner</button>
    </div>
  </div>

  <div class="panel pTwo">
    <div class="pg_content">
      <h2>Enter your main ingredient:</h2>
      <input type="text" id="primaryIngr" placeholder="Enter">
      <br>
      <span class="back_btn" onclick="scrollto('one')">Back</span>
    </div>
  </div>

  <div class="panel pThree">
    <div class="pg_content">
      <h2>Enter your secondary ingredient:</h2>
      <input type="text" id="secIngr" placeholder="Enter">
      <br>
      <span class="back_btn" onclick="scrollto('two')">Back</span>
    </div>
  </div>

  <div class="panel pFour">
    <div class="pg_content">
      <h2>Enter a cuisine:</h2>

      <input type="text" class="input" id="cuisine" placeholder="Enter">
      <br>
      <span class="back_btn" onclick="scrollto('three')">Back</span>
      <br>
      <button id="end_btn">Submit</button>
    </div>
  </div>

  <div class="panel pFive">
    <div class="pg_content">
      <p class="recipe">
        <h3 id="title"></h3>
        <img id="img" src="#">
        <ul id="list">

        </ul>
      </p>
    </div>
  </div>

</div>
