<h1>NEAT!</h1>

<div class="meal">
  <p>Choose a meal:</p>
  <button class="btn">Breakfast</button>
  <button class="btn">Lunch</button>
  <button class="btn">Dinner</button>
</div>

<div class="main_ingr">
  <p>Enter your main ingredient:</p>
  <input type="text" class="input" id="main_ingr">
</div>

<div class="sec_ingr">
  <p>Enter your secondary ingredient:</p>
  <input type="text" class="input" id="sec_ingr">
</div>

<div class="cuisine">
  <p>Enter a cuisine:</p>
  <input type="text" class="input" id="cuisine">
  <br>
  <button id="end_btn">Submit</button>
</div>

<div id="recipes">
  <h3 id="title"></h3>
  <img id="img" src="#">
  <ul id="list">

  </ul>
</div>
