

  <section class="panel one">
    <p class="p-one">
      Choose a meal:
      <br>
      <button class="btn">Breakfast</button>
      <button class="btn">Lunch</button>
      <button class="btn">Dinner</button>
    </p>
  </section>

  <section class="panel two">
    <p class="p-two">
      Enter your main ingredient:
      <br>
      <input type="text" class="input" id="main_ingr" placeholder="Enter">
    </p>
  </section>

  <section class="panel three">
    <p class="p-three">
      Enter your secondary ingredient:
      <br>
      <input type="text" class="input" id="sec_ingr" placeholder="Enter">
    </p>
  </section>

  <section class="panel four">
    <p class="p-four">
      Enter a cuisine:
      <br>
      <input type="text" class="input" id="cuisine" placeholder="Enter">
      <br>

      <button id="end_btn">Submit</button>
    </p>
  </section>

  <section class="panel five">
    <p class="recipe">
      <h3 id="title"></h3>
      <img id="img" src="#">
      <ul id="list">

      </ul>
    </p>
  </section>
