// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	height: 100%;
	overflow: scroll;
}

body {
	position: absolute;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	-moz-transition:    all 1s;
	-webkit-transition: all 1s;
	-ms-transition:     all 1s;
	-o-transition:      all 1s;
	transition:         all 1s;
}

nav {
	font-family: sans-serif;
	text-align: right;
	width: 100%;
	margin: 0;
	position: fixed;
	z-index: 1;
	background-color: transparent;
}

nav a {
 display: inline-block;
 text-decoration: none;
 color: #fff;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 16px;
 padding-bottom: 16px;
}

.logo {
 float: left;
}

nav a:hover {
 background-color: #36C6D2;
}

.panel_container {
 text-align: center;
 font: italic 34px sans-serif;
}

.one   { left: 0     }
.two   { left: -100% }
.three { left: -200% }
.four  { left: -300% }
.five  { left: -400% }

.panel {
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
}

.pOne {
	background: #00292C;
}

.pTwo {
	left: 100%;
	background: #014247;
}

.pThree {
	left: 200%;
	background: #127E87;
}

.pFour {
  left: 300%;
	background: #014247;
}

.pFive {
	left: 400%;
	background: #00292C;
}

.pg_content {
	display: table-cell;
  vertical-align: middle;
	color: #fff;
}

//**

.btn {
	color: #fff;
	width: 150px;
	height: 70px;
	background-color: transparent;
	border: 1px solid #fff;
	outline: none;
	margin-left: 10px;
	margin-right: 10px;
	font-size: .5em;


	&:hover {
		background-color: aqua;
		cursor: pointer;
		font-style: italic;
	}
}


#primaryIngr, #secIngr, #cuisine{
  background-color: transparent;
  font-size: .5em;
	font-style: italic;
	color: #fff;
  text-align: center;
  height: 25px;
  width: 250px;
  outline: none;
  padding: 5px;
  border: none;
  border-bottom: 5px solid #fff;
  // box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.back_btn {
	cursor: pointer;

	&:hover {
		color: #36C6D2;
	}
}

#selectCuisine {
	outline: none;
	height: 50px;
	width: 400px;
	background-color: transparent;
	font-size: .5em;
	color: white;
	cursor: pointer;
}

.recipe_img {
	float: left;
	margin-left: 10%;
}

.ing_list {
	float: left;
	text-align: left;
	margin-left: 10%;
	font-size: .45em;
	width: 40%;
}

#list {
 padding: 0;

}
