// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	height: 100%;
	overflow: hidden;
}

body {
	position: absolute;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font: italic 34px Georgia;
	-moz-transition:    all .5s;
	-webkit-transition: all .5s;
	-ms-transition:     all .5s;
	-o-transition:      all .5s;
	transition:         all .5s;
}

 nav {
  text-align: left;
   width: 100%;
   margin: 0;
 }

 nav a {
   display: inline-block;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 16px;
   padding-bottom: 16px;

 }

 nav a:hover {
   background-color: aqua;
 }

.one   { left: 0     }
.two   { left: -100% }
.three { left: -200% }
.four { left: -300% }
.five { left: -400% }

.panel {
	position: absolute;
	width: 100%;
	height: 100%;
}

.pOne {
	background: #c7f464;
}

.pTwo {
	left: 100%;
	background: #4ecdc4;
}

.pThree {
	left: 200%;
	background: #ff6b6b;
}

.pFour {
  left: 300%;
	background: #c7f464;
}

.pFive {
	left: 400%;
	background: #4ecdc4;
}

//**

button {
 width: 100px;
 height: 50px;
 background-color: transparent;
 border: 1px solid black;
 margin: 10px;
 outline: none;
}

button:hover {
 background-color: aqua;
 cursor: pointer;
}

.input {
  background-color: transparent;
  font-size: 20px;
  text-align: center;
  height: 25px;
  width: 250px;
  outline: none;
  padding: 5px;
  border: none;
  border-bottom: 5px solid black;
  // box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

ul {
 padding: 0;
}

li {
 list-style-type: none;
}
